---
layout: default
title: 首页
---

<div class="home">
    <h2>最新文章</h2>
    
    {% for post in site.posts %}
    <article class="post-preview">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</p>
        <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
    </article>
    {% endfor %}
    
    {% if site.posts.size == 0 %}
    <p>还没有文章，<a href="#writing-guide">开始写第一篇吧！</a></p>
    {% endif %}
</div>
